<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
          crossorigin="anonymous">

    <!-- 자바스크립트 -->
    <script defer src="{{ url_for('static', filename='js/index.js') }}"></script>


    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!--  og태그, 파비콘(Favicon)  -->
    <link rel="shortcut icon" href="http://www.clker.com/cliparts/D/P/x/B/S/H/orange-paw-print-md.png">
    <link rel="icon" href="http://www.clker.com/cliparts/D/P/x/B/S/H/orange-paw-print-md.png" type="image/x-icon">
    <meta property="og:title" content="누구개 - 귀여운 반려동물을 사진을 올려주세요"/>
    <meta property="og:description" content="사랑스러운 반려동물을 자랑 할 수 있는 사이트"/>



    {% if title %}
    <title>{{ title }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>

    {% include "layout_sections/header.html" %}

    {% block content %}
    {% endblock %}

    {% include "layout_sections/footer.html" %}
</body>
</html>