{% extends "base.html"  %}
{% block content %}

<nav class="nav-bar grid" role="navigation">
    <span class="nav-item"></span>
    <span class="nav-item" id="nav-logo">
        <a href="/"><img src="../static/img/main_logo_dog.png" style="width: 135px; padding-top: 0.5rem"></a>
    </span>
    <span class="nav-item" id="nav-upload">
        <div id="modal">
<!--                추가한 모달창 -->
                <div class="wrapper">
    <form action="/mypage/" class="card-content" method="post" onsubmit="return upload()" enctype="multipart/form-data">

        <div class="container">
            <div class="image">
                <i class="fas fa-paw"></i>
            </div>
            <h1>
                <span class="nu">누</span>
                <span class="nu">구</span>
                <span class="nu">개</span>
                <span class="nu"></span>
            </h1>
            <h5 class="mini-text">"우리집 귀여운 댕댕이를 자랑해 주세요." </h5>
        </div>

        <div class="file-box">
            <input type="file" id="uploadInput" accept="image/*" name="pet_img"
                   onchange="javascript:getRealPath(this);"/>

            <input type="hidden" id="real_path" name="real_path" value=""/>

        </div>

        <div class="form-input">
            <input name="pet_name" type="text" class="name" placeholder="이름" id="name" maxlength="10">
            <input name="pet_age" type="number" class="age" placeholder="나이" id="age" min="1" max="30">
            <input name="pet_breed" type="text" class="breed" placeholder="견종" id="breed" maxlength="15">
            <input name="pet_intro" type="text" class="intro" placeholder="소개" id="intro" maxlength="30">
            <div>
                <input type="submit" class="save-btn" value="등록">
            </div>
            <div class="home">
            <i class="fas fa-home">
                <a target="" class="modal-close" id="home-name">Home</a></i>
        </div>
        </div>
    </form>
</div>

            <!-- 모달창 끝-->
        </div>
        <span>
            <a type="button" class="btn btn-post">업로드</a>
        </span>
    </span>
    <span class="nav-item dropdown" id="nav-dropdown">
        <a type="button" class="btn btn-sort" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">정렬</a>
            <div class="dropdown-content">
                <button class="btn" id="btn-sort-date" onclick="sortByDate()">최신순</button>
                <button class="btn" id="btn-sort-like" onclick="sortByLike()">좋아요순</button>
            </div>
    </span>
    <span class="nav-item"></span>
    <button onclick="location.href='/join'" class="btn-join">JOIN</button>
    <button onclick="location.href='/login'" class="btn-login">LOGIN</button>
    <span class="nav-item"></span>
</nav>
<div class="section" id="section1">
    <div class="banner">
        <div class="banner-text">
            <div id="banner-text1">나만 보기 아까운</div>
            <div id="banner-text2">우리 집 반려동물 사진들,</div>
            <div id="banner-text3">
                <br>
                이 곳에서 <span style="font-weight: 500">사진</span>도 나누고<br>
                <span style="font-weight: 500">행복</span>도 나눠요!
            </div>
            <div id="banner-text4" style="margin-top: 0.5rem; min-width: 500px">
                <i class="fas fa-hippo" style="font-size: 1.5rem; margin-right: 2rem"></i>
                <i class="fas fa-dog fa-2x" style="font-size: 1.5rem; margin-right: 2rem"></i>
                <i class="fas fa-kiwi-bird fa-2x" style="font-size: 1.5rem; margin-right: 2rem"></i>
                <i class="fas fa-fish fa-2x" style="font-size: 1.5rem; margin-right: 2rem"></i>
                <i class="fas fa-horse fa-2x" style="font-size: 1.5rem; margin-right: 2rem"></i>
                <i class="fas fa-crow fa-2x" style="font-size: 1.5rem; margin-right: 2rem"></i>
                <i class="fas fa-cat fa-2x" style="font-size: 1.5rem; margin-right: 2rem"></i>
                <i class="fas fa-otter fa-2x" style="font-size: 1.5rem"></i>
            </div>
        </div>
    </div>
</div>
<div class="section" id="section2">
    <div class="card-box" id="card-box">
        {% for card in cards %}
        <div class="card-container">
            <div class="card-top">
                <span class="card-username">{{card['user_email']}}</span>
                <span class="card-like">
                    <span class="card-like-count">{{card['like_count']}}</span>
                    <span>
                    <button class="btn btn-like" id="mongodbObjectid" aria-label="like" onclick="likeClick(), 'like'">
                        <i class="far fa-heart" style="font-size: 1.5rem; color: dimgray"></i>
                    </button>
                </span>
                </span>
            </div>
            <!--            image-->
            <div class="card-middle">
                <img src="{{card['pet_img']}}"
                     alt="card-image" class="card-img">
            </div>
            <div class="card-bottom">
                <div class="card-desc">
                    <div class="pet-desc">
                        <p>제 이름은 <span class="pet-name" style="font-weight: 700">{{card['pet_name']}}</span> 에요!</p>
                        <p>나이는 <span class="pet-age" style="font-weight: 700">{{card['pet_age']}}</span>살 이구요,</p>
                        <p><span class="pet-species" style="font-weight: 700">{{card['pet_breed']}}</span> 랍니다!</p>
                    </div>
                    <p class="pet-intro"><span style="font-size: 1.5rem">"</span>{{card['pet_intro']}}<span
                            style="font-size: 1.5rem">"</span></p>
                </div>
            </div>
            <p class="upload-date">{{card['upload_time'].strftime('%Y-%m-%d')}}</p>
        </div>
        {% endfor%}
    </div>
</div>


<script defer src="../static/js/main.js"></script>

{% endblock %}
