{% extends "base.html" %}
<script defer src="{{ url_for('static', filename='js/join.js') }}"></script>
{% block content %}
    <div class="back">
        <div class="container">
            <div class="input-form-backgroud row">
                <div class="input-form col-md-12 mx-auto"><h4 class="mb-3">회원가입</h4>
                    <form class="validation-form" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3"><label for="name">이름</label> <input type="text"
                                                                                           class="form-control"
                                                                                           id="name" placeholder=""
                                                                                           value=""
                                                                                           required>
                                <div class="invalid-feedback"> 이름을 입력해주세요.</div>
                            </div>
                            <div class="col-md-6 mb-3"><label for="nickname">별명</label> <input type="text"
                                                                                               class="form-control"
                                                                                               id="nickname"
                                                                                               placeholder=""
                                                                                               value="" required>
                                <div class="invalid-feedback"> 별명을 입력해주세요.</div>
                            </div>
                        </div>
                        <div class="mb-3"><label for="email">이메일</label> <input type="email" class="form-control"
                                                                                id="email"
                                                                                placeholder="you@example.com" required>
                            <div class="invalid-feedback"> 이메일을 입력해주세요.</div>
                        </div>
                        <tr class="password">
                            <td>비밀번호</td>
                            <input type="password" class="form-control" name="userPW" id="pw" onchange="check_pw()">
                        </tr>
                        <hr>
                        <tr class="password_check">
                            <td>비밀번호 확인</td>
                            <input type="password" class="form-control" name="userPW2" id="pw2" onchange="check_pw()">&nbsp;<span
                                id="check"></span>
                        </tr>
                        <hr class="mb-4">
                        <button onclick="goLoginForm()" class="btn btn-dark btn-lg btn-block" type="submit">가입 완료</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}