{% extends "index.html"  %}
{% block content %}
<div class="wrapper">
    <form action="/mypage/" class="card-content" method="post" onsubmit="return upload()" enctype="multipart/form-data">
<!--        <div class="home">-->
<!--            <i class="fas fa-home"><a href = "../index.html" target = "" id="home-name">Home</a></i>-->
<!--        </div>-->
        <div class="container">
            <div class="image">
                <i class="fas fa-paw"></i>
            </div>
            <h1>
                <span class="nu">누</span>
                <span class="nu">구</span>
                <span class="nu">개</span>
                <span class="nu"></span>
            </h1>
            <h5 class="mini-text">"우리 집 귀여운 반려동물을 자랑해 주세요." </h5>
        </div>

        <div class="file-box">
            <input type="file" id="uploadInput" accept="image/*" name="pet_img" onchange="javascript:getRealPath(this);" />

            <input type="hidden" id="real_path" name="real_path" value="" />

        </div>

        <div class="form-input">
            <input name="pet_name" type="text" class="name" placeholder="이름" id="name" maxlength="10">
            <input name="pet_age" type="number" class="age" placeholder="나이" id="age" min="1" max="30">
            <input name="pet_breed" type="text" class="breed" placeholder="견종" id="breed" maxlength="15">
            <input name="pet_intro" type="text" class="intro" placeholder="소개" id="intro" maxlength="30">
            <div>
                <input type="submit" class="save-btn" value="등록">
                <!-- 취소버튼추가 -->
                <input type="button" class='modal-close' value="취소">
            </div>
        </div>
    </form>
</div>

<script defer src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}

